<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CircleTransition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D405D401E5E8C5E00470E42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D405D591E5E8C5F00470E42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D405D641E5E8C5F00470E42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
